@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;600&family=Crimson+Text:wght@600&family=Dancing+Script&family=Montserrat&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Changa', sans-serif;
}

